<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>quiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CA19CCC1E60863F00D3998A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA19CE01E60864000D3998A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA19CEB1E60864000D3998A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
